<div class="jumbotron text-in-the-middle yellow">
  <h2><%=current_user.name%>'s Github Stats</h2>
 <h4>You Have <%= @starred_repos_count %> Starred Repos</h4>
 <h4>You Have <%= @followers %> Followers</h4>


 <p><% @followers_details.each do |follower| %>
   <%= follower[0] %> follows you
   <a href="<%= follower[1]%>" target="_blank">See <%= follower[0] %>'s work</a><br>
  <% end %>
 </p>

 <h4>You Are Following <%= @following_count %> Github Users</h4>

 <p><% @following_list.each do |followed| %>
  You Follow<%= followed[0] %>
   <a href="<%= followed[1]%>" target="_blank">See <%= followed[0] %>'s work</a><br>
  <% end %>
 </p>

 <% @most_recent_repo.each do |repo| %>
 <%= repo %>
 <% end %>

</div>
