<div class=" text-in-the-middle yellow">
  <h2><%=current_user.name%>'s Github Stats</h2>
 <h4>You Have <%= @starred_repos_count %> Starred Repos</h4>
 <h4>Your Longest Streak Was <%= @longest_streak %> </h4>
 <h4>Your Current Streak Is <%= @current_streak %> </h4>
 <h4>Your Contributions This Year: <%= @contributions %> </h4>
 <h4>You Have <%= @followers %> Followers</h4>

 <p><% @followers_details.each do |follower| %>
   <%= follower[0] %> follows you
   <a href="<%= follower.last%>" target="_blank">See <%= follower.first %>'s work</a><br>
  <% end %>
 </p>

 <h4>You Are Following <%= @following_count %> Github Users</h4>

 <p><% @following_list.each do |followed| %>
  You Follow <%= followed.first %>
   <a href="<%= followed.last%>" target="_blank">See <%= followed.first %>'s work</a><br>
  <% end %>
 </p>
 <br>

<h3>Recent Activity of the People You Follow</h3>
 <table frame="box" style="width:100%">
   <tr>
     <th>Person</th>
     <th>Repo Name</th>
     <th>Comment</th>
   </tr>

     <% @activity_of_followings.each do |activity| %>
      <tr>
        <td><%= activity.person %></td>
        <td><%= activity.repo %></td>
        <td><%= activity.comment %></td>
      </tr>
     <% end %>
 </table>
 <br>

<button type="button" class="btn btn-warning"><%= link_to "Commits & Repos", users_path%></button>
<button type="button" class="btn btn-warning"><%= link_to "Logout", logout_path, method: :delete%></button>
</div>
