<div class=" text-in-the-middle yellow">
  <h2><%=current_user.name%>'s Github Stats</h2>
 <h4>You Have <%= @starred_repos_count %> Starred Repos</h4>
 <h4>Your Longest Streak Was <%= @longest_streak %> </h4>
 <h4>You Have <%= @followers %> Followers</h4>


 <p><% @followers_details.each do |follower| %>
   <%= follower[0] %> follows you
   <a href="<%= follower[1]%>" target="_blank">See <%= follower[0] %>'s work</a><br>
  <% end %>
 </p>

 <h4>You Are Following <%= @following_count %> Github Users</h4>

 <p><% @following_list.each do |followed| %>
  You Follow<%= followed[0] %>
   <a href="<%= followed[1]%>" target="_blank">See <%= followed[0] %>'s work</a><br>
  <% end %>
 </p>

<button type="button" class="btn btn-warning"><%= link_to "See Commits", users_path%></button>
<button type="button" class="btn btn-warning"><%= link_to "Logout", logout_path, method: :delete%></button>
</div>
